
  <div id="main"></div>

  <script id="searchFlightTemplate" type="text/template">

    <input type="text">
    <div id="to"></div>
    <div id="buttons">
      <button id="cancel">Cancel</button>
      <button id="save">Save</button>
      <button id="searchFlights">Search</button>
    </div>

  </script>

  <script id="flightViewTemplate" type="text/template">

    <button></button>


    <dl>
      <dt>origin:</dt>
      <dd><%%= origin %></dd>

      <dt>destination:</dt>
      <dd><%%= destination %></dd>

      <dt>date:</dt>
      <dd><%%= date %></dd>

      <dt>plane:</dt>
      <dd id="planeDescription"></dd>
    </dl>

    <div id="flightSeating"></div>
  </script>

  <script id="planeDescriptionTemplate" type="text/template">
    <%%= name %> which has <%%= rows %> rows and <%%= columns %> columns of seats.
  </script>
