  <div id="main"></div>

  <script id="searchFlightTemplate" type="text/template">
    <h2>Search Flights</h2>
    <ul class="searchFlight">
      <li><b>Origin:  </b><input type="text" placeholder="from" id="origin"></li>
      <li><b>Destination:  </b><input type="text" placeholder="to" id="destination"></li>
      <button id="search_cancel">Cancel</button>
      <button id="search_save">Search</button>
    </ul>

    <div id="flights_list">
      <ul class="flights_list_info">
        <li>Date</li>
        <li>Flight</li>
        <li>From - To</li>
        <li>Plane</li>
      </ul>
      <ul class="flights_list_data">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </script>

  <script id="flightViewTemplate" type="text/template">
      <h2>Search Results</h2>
      <ul>
        <li><b>Origin: </b><%%= origin %> </li>
        <li><b>Destination: </b><%%= destination %></li>
        <li><b>Date: </b><%%= date %></li>
        <li><b>Plane: </b> <span id="planeDescription"></li>
      </ul>
      <div id="flightSeating"></div>
  </script>

  <script id="planeDescriptionTemplate" type="text/template">
    <%%= name %> which has <%%= rows %> rows and <%%= columns %> columns of seats.
  </script>
