  <div id="main"></div>

  <script type="text/javascript">
  
  </script>

  <!-- <script id="loginViewTemplate" type="text/template">
    Login / Sign Up
    <ul>
      <li>email: </li>
      <li>password: </li>
      <button id="login">Login</button>
    </ul>
    <ul>
      <li>Name: </li>
      <li>Email: </li>
      <li>Password: </li>
      <button id="signup">Sign Up</button>
    </ul>
  </script> -->


  <script id="searchFlightTemplate" type="text/template">
    <h2>Search Flights</h2>
    <ul class="searchFlight">
      <li><b>Origin:  </b><input type="text" placeholder="from" id="origin"></li>
      <li><b>Destination:  </b><input type="text" placeholder="to" id="destination"></li>
      <button id="search_cancel">Cancel</button>
      <button id="search_save">Search</button>
    </ul>

    <table id="flights_list">
      <thead>
      <tr>
        <th>Flight#</th>
        <th>From</th>
        <th>To</th>
        <th>Plane</th>
        <th>Date</th>
      </tr>
      </thead>
    </table>
</script>

  <script id="flightViewTemplate" type="text/template">
      <h2>Search Results</h2>
      <ul>
        <li><b>Origin: </b><%%= origin %> </li>
        <li><b>Destination: </b><%%= destination %></li>
        <li><b>Date: </b><%%= date %></li>
        <li><b>Plane: </b> <span id="planeDescription"></li>
      </ul>
      <div id="flightSeating"></div>
  </script>

  <script id="planeDescriptionTemplate" type="text/template">
    <%%= name %> which has <%%= rows %> rows and <%%= columns %> columns of seats.
  </script>
