  <div id="main"></div>

  <script id="searchFlightTemplate" type="text/template">

    <label>Origin: </label><input type="text" placeholder="from" id="origin">
    <label>Destination: </label><input type="text" placeholder="to" id="destination">
    <button id="search_cancel">Cancel</button>
    <button id="search_save">Search</button>

    <table id="flights_list">
      <thead>
      <tr>
        <th>Date</th>
        <th>Flight</th>
        <th>From - To</th>
        <th>Plane</th>
      </tr>
      </thead>
      <tr class="flights_list_data">
        <td id='flight_origin'></td>
        <td id='flight_destination'></td>
        <td id='flight_date'></td>
        <td id='flight_plane'></td>
      </tr>
    </table>

</script>

  <script type="text/template">


  </script>

  <script id="flightViewTemplate" type="text/template">

    <ul>
      <li><b>Origin: </b><%%= origin %> </li>
      <li><b>Destination: </b><%%= destination %></li>
      <li><b>Date: </b><%%= date %></li>
      <li><b>Plane: </b> <span id="planeDescription"></li>
    </ul>

    <div id="flightSeating"></div>

  </script>

  <script id="planeDescriptionTemplate" type="text/template">
    <%%= name %> which has <%%= rows %> rows and <%%= columns %> columns of seats.
  </script>
