
  <div id="main"></div>

  <script id="searchFlightTemplate" type="text/template">

    <input type="text">
    <div id="to"></div>
    <div id="buttons">
      <button id="cancel">Cancel</button>
      <button id="save">Save</button>
      <button id="searchFlights">Search</button>
    </div>

  </script>

  <script id="flightViewTemplate" type="text/template">

    <button></button>
  </script>
