<div class="container">
  <h1>home page</h1>
  <div id="main"></div>

  <script id="searchFlightTemplate" type="text/template">

    <label>Origin: </label><input type="text" placeholder="from" id="origin">
    <label>Destination: </label><input type="text" placeholder="to" id="destination">
    <button id="search_cancel">Cancel</button>
    <button id="search_save">Search</button>

    <table id="flights_list">
      <tr>
        <th>Date</th>
        <th>Flight</th>
        <th>From - To</th>
        <th>Plane</th>
      </tr>
      <tr class="flights_list_data">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>



  </script>

  <script id="flightViewTemplate" type="text/template">

    <button></button>


    <dl>
      <dt>origin:</dt>
      <dd><%%= origin %></dd>

      <dt>destination:</dt>
      <dd><%%= destination %></dd>

      <dt>date:</dt>
      <dd><%%= date %></dd>

      <dt>plane:</dt>
      <dd id="planeDescription"></dd>
    </dl>

    <div id="flightSeating"></div>
  </script>

  <script id="planeDescriptionTemplate" type="text/template">
    <%%= name %> which has <%%= rows %> rows and <%%= columns %> columns of seats.
  </script>

</div>
