  <div id="main"></div>

  <script type="text/javascript">

  </script>
  <script id="searchFlightTemplate" type="text/template">
    <h2>Search Flights</h2>
    <ul class="searchFlight">
      <li><b>Origin:  </b><input type="text" placeholder="from" id="origin"></li>
      <li><b>Destination:  </b><input type="text" placeholder="to" id="destination"></li>
      <button id="search_cancel">Cancel</button>
      <button id="search_save">Search</button>
    </ul>

    <table id="flights_list">
      <thead>
      <tr>
        <th>Flight#</th>
        <th>From</th>
        <th>To</th>
        <th>Plane</th>
        <th>Date</th>
      </tr>
      </thead>
    </table>
</script>

  <script id="flightViewTemplate" type="text/template">
      <h2>Search Results</h2>
      <dl class="dl-horizontal">
        <dt>Origin: </dt>
        <dd><%%= origin %> </dd>

        <dt>Destination: </dt>
        <dd><%%= destination %></dd>

        <dt>Date: </dt>
        <dd><%%= date %></dd>

        <dt>Flight Number: </dt>
        <dd> <%%= id  %> </dd>

        <dt>Plane: </dt>
        <dd><span id="planeDescription"></dd>
      </dl>
      <div class="seatingkey text-right">
        <div class="seat seatExample mine">Selected</div>
        <div class="seat seatExample">Free</div>
        <div class="seat taken seatExample">Occupied</div>
      </div>
      <div id="flightSeating"></div>
  </script>

  <script id="planeDescriptionTemplate" type="text/template">
    <%%= name %> (<%%= rows %> rows, <%%= columns %> columns)
  </script>
