<div class="container">
  <h1>home page</h1>
  <div id="main"></div>

<h1>Home Page</h1>

  <script id="searchFlight" type="text/template">


    <div id="from"></div>
    <div id="to"></div>
    <button id="cancel"></button>
    <button id="save"></button>

    <button id="searchFlights">Search</button>
  </script>

  <!-- <script id="flightView" type="text/template">
    <button></button>
  </script> -->

</div>
