.container {
  margin: 50px auto;
  background: white;
}


.navbar-header {
  width: 30%;
  height: 100%;
}

h3 {
  margin-left: 3%;
}


#main {
  background-color: gainsboro;
  padding: 10%;
}

#buttons{
  margin-top: 5px;
}
