*{
  font-family: 'Oxygen', sans-serif;
}

html {
  padding: 0
}

.fontWeight-light{
  font-weight: 200;
}

.container {
  // margin: 50px auto;
}

nav {
  margin-top: 2%;
}
.nav a {
  &:hover {
  text-decoration: none;
  }
}

.navbar-header {
  width: 30%;
  height: 100%;
}

.navbar-left {
  width: 30%;
}

.navbar-left h3{
  font-weight: bold;
}

nav h3 {
  margin-left: 6%;
  font-weight: bold;
  color: rgba(33, 94, 104, 0.54);
}


#content {
  padding: 5%;
}

#buttons{
  margin-top: 5px;
}

#main{
  width: 60%;
  margin: 0 auto;
  padding: 5%;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8) ;
}

#main h2{
  text-align: center;
  font-weight: bold;
  margin-bottom: 5%;
}

button#backToSearch{
  border-radius: 3px;
  font-weight: bold;
  margin-bottom: 10px;
}

ul li{
  list-style: none;
  font-size: 1.4em;
  line-height: 1.2;
  padding-left: 0;
  font-weight: 200;
}

ul {
  padding-left: 0;
}

label {
  display: block;
}
.searchFlight{
  margin: 0 auto;
  width: 200px;
}

ul.searchFlight li{
  margin-bottom: 10px;
  width: 100px;
}

.flights_list_info, .flights_list_data{
  width: 200px;
  margin: 40px auto;
}


button#search_save, button#search_cancel{
  width: 96px;
  border-radius: 3px;
}

#flights_list {
  margin-top: 20px;
  opacity: 0;
}

.result_row:hover {
  cursor: pointer;
  text-decoration: underline;
}

td {
  min-width: 50px;
  padding: 5px;
}

/////////////////////////////////////////////////////////////////
//single flight view stuff

#flightSeating {
  width: 100%;
  min-height: 100px;
}

.seat {
  display: inline-block;
  width:0;
  margin:0;
  min-height: 20px;
  line-height: 100%;
  text-align: center;
  border: 1px solid green;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.taken {
  border: 1px solid red;
  background-color: indianred;
}

.seat.pending {
  border:1px solid rebeccapurple;
  background-color: gray;
}
